/* Personalización del título principal (h1) */
h1.my-4 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 2rem;
}

h1.my-4 small {
    font-size: 1rem;
    color: #6c757d;
}

/* Estilo general para las tarjetas (.card) */
.card {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: #000000;
    text-align: center;
}

.card-title a {
    text-decoration: none;
    color: #000000;
}

.card-title a:hover {
    color: #0056b3;
}

/* Estilo general para el contenedor */
.container {
    padding: 2rem 0;
}

/* Ajuste de las filas y columnas */
.row {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.col-lg-2 {
    flex: 0 0 auto;
    max-width: 100%;
}

/* Media Query: Ajustes para pantallas pequeñas (máximo 768px de ancho) */
@media (max-width: 768px) {
    .card {
        margin-bottom: 1.5rem;
    }
    
    .card-img-top {
        height: 80px;
    }

    h1.my-4 {
        font-size: 2rem;
    }
}

/* Home */
.dashboard-nav-item {
    height: 15px;
}
